<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'
                     debug="true">

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!--<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} [%t] %5p %c{1} - %m%n"/>-->
            <param name="ConversionPattern" value="%d{DATE} [%t] %5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="applicationLog" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="file" value="out/app.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="100"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{DATE} [%t] %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="messagesFile" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="file" value="out/messages.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="100"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{DATE} [%t] %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <category name="org.chuma.hvaccontroller" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="applicationLog"/>
    </category>

    <root>
        <level value="INFO"/>
        <appender-ref ref="applicationLog"/>
    </root>

</log4j:configuration>